Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [8]:
string_data = 'hello pwskills'
list_data = [1,4,9,54,3,'hello world']
float_data = 3.14
tuple_data = (1, "apple", 3.14, "banana")

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) String
(ii) String
(iii) List
(iv) Float

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [10]:
'''Division Operator (/):
The division operator (/) is used to perform division between two operands.
It returns the quotient as a floating-point number'''
a = 10
b = 3
result = a / b
print(result)

3.3333333333333335

In [11]:
'''Modulo Operator (%):
The modulo operator (%) returns the remainder of the division between two operands.
It is often used to perform operations related to divisibility or to extract information cyclically.'''

a = 10
b = 3
result = a % b
print(result)

1

In [12]:
'''(iii) Floor Division Operator (//):
The floor division operator (//) performs division between two operands and
returns the largest integer less than or equal to the division result.
It discards the decimal part of the division.'''

a = 10
b = 3
result = a // b
print(result)

3

In [13]:
'''(iv) Exponentiation Operator ():
The exponentiation operator () is used to raise a number to a power.
It calculates the result of raising the first operand to the power of the second operand.'''

a = 2
b = 3
result = a ** b
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [16]:
lst = [1, 'hello', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 25}, None, (4, 5, 6), 'world', False]
for i in lst:
    print(i)

1
hello
3.14
True
[1, 2, 3]
{'name': 'John', 'age': 25}
None
(4, 5, 6)
world
False

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [7]:
A = 500
B = 5
count = 0
while(A%B==0):
    A = A//B
    count += 1

print("Number A can be divided by number B", count, "times.")

Number A can be divided by number B 3 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [16]:
import random

random_int = [random.randint(1,100) for _ in range(1,25)]

for i in random_int:
    if i%3==0:
        print(i, 'is divisible by 3')
    else:
        print(i, 'is not divisible by 3')

42 is divisible by 3
97 is not divisible by 3
96 is divisible by 3
63 is divisible by 3
57 is divisible by 3
95 is not divisible by 3
29 is not divisible by 3
46 is not divisible by 3
43 is not divisible by 3
75 is divisible by 3
61 is not divisible by 3
51 is divisible by 3
49 is not divisible by 3
66 is divisible by 3
67 is not divisible by 3
69 is divisible by 3
99 is divisible by 3
54 is divisible by 3
35 is not divisible by 3
99 is divisible by 3
66 is divisible by 3
33 is divisible by 3
11 is not divisible by 3
72 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.